{% extends "main/base.html" %}
{% block title %}
Home
{% endblock %}
{% block header %}
<!-- header -->


<!-- HEADER -->

<header class="position-relative" id="jumbotron">
  <div class="container py-5 d-flex flex-column flex-lg-row align-items-center justify-content-between h-100 ">
    <!-- Text Section -->
    <div class="text-center text-lg-start">
      <h1 class="display-3 fw-bold mb-3 gradient-text">Sistem Pemetaan Kuliner Semarang</h1>
      <p class="lead mb-4">
        Temukan informasi terkini tentang tempat kuliner di Semarang, termasuk lokasi, menu,
        dan rekomendasi terbaik untuk pengalaman makan Anda.
      </p>

      <style>

      </style>


      <!-- Search Bar Section -->
      <div class="d-flex gap-3 mb-4">
        <div class="input-group justify-content-center justify-content-lg-start" style="max-width: 400px;">
          <input type="text" id="search-bar" class="form-control form-control-sm"
            placeholder="Cari tempat kuliner di Semarang..." />
          <div class="input-group-append">
            <button id="search-button" class="btn btn-primary px-3 shadow" style="height: 100%;">Cari</button>
          </div>
        </div>
      </div>


    </div>


    <!-- Image Section (Added to balance the layout) -->
    <div class="d-none d-lg-block">
      <img src="{{ url_for('static', filename='images/img1.png') }}" height="900px" width="900px" alt="Fasilitas Umum"
        class="img-fluid floating-img" />
    </div>
  </div>

  <!-- Wave SVG -->
  <div class="position-absolute bottom-0 start-0 w-100">
    <svg class="w-100" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M600,112.77C268.63,112.77,0,65.52,0,7.23V120H1200V7.23C1200,65.52,931.37,112.77,600,112.77Z"
        fill="white"></path>
    </svg>
  </div>
</header>
<!-- END HEADER -->


<!-- Section preview map -->
<section class="container">

  <div>
    <div class="text-center">
      <h1>Map Preview</h1>
    </div>
    <div id="map-container">
      <iframe src="{{ url_for('static', filename='preview/preview_map.html') }}" width="100%" height="500">
    </div>
  </div>
  </iframe>

</section>
<!-- End Section preview map -->






<!--akhir headeer-->
{% endblock %}